/*

	BODY
	_____________________________

*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);


/*FOOTER*/
.footer-title { color: #fff; }

/*Footer icons*/
ul li { list-style-type: none; }

#footer ul li a i {
	background: #205D7A;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

.fa-twitter { background:#00aced }
.fa-facebook { background:#3b5998 } 

#footer ul li a i {	transition: all 0.2s ease-in-out; }
#footer ul li a i:hover { opacity: .7; }

.top-line {
    border-top: 1px solid #1fa1b7;
    margin: 0px 140px;
}


.navbar-fixed-top {
	background: #fff;
	box-shadow: 0px 5px 5px rgba(43, 43, 43, 0.29);
}

.navbar-brand {
	height: auto;
	padding: 8px 15px;
}

.navbar-brand>img {
	width: 135px;
}

.main-content {
	padding: 60px 0px;
    background-color: #f7f7f7;
}

/*footer description*/
.footer-description { 
	color: #fff; margin-bottom: 20px; 
}

.footer-title { 
	margin-top: 20px; 
}

.privacy-policy p, .powered p {
	margin: 0px;
	padding: 5px 15px;
}



.channel-select {
    padding-left: 60px;
}

.channel-select .control-label {
    text-align: center;
    padding-top: 0px;
}

.channel-select .control-label h3{
    margin-top: 0px;
}

.terms {
    margin-top: 60px;
}

.form-control {
    border-radius: 0px;
    border: 3px solid #1fa1b7;
}

.form-horizontal .control-label {
    font-family: Montserrat;
}

span.required{
    color: red;
}


.tab-text{
    margin-left: 30px;
    text-transform: uppercase;
    line-height: 25px;
}

.btn-next {
    background: #980A0A;
}

.wizard {
    margin: 20px auto;
    /*background: #fff;*/
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 25px;
    height: 25px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 5px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33333%;
}

/*.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}*/

.wizard .nav-tabs > li a {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.nav-tabs {
    border-bottom: none;
}

.form-container {
    margin-top: 60px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

